@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* applies to all the elements, width of element isn't changed if we add any border or padding to element.*/
*{
    box-sizing: border-box;
}

/* set the default font to use in body tag */
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}